<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.servelet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.java.servelet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.java.servelet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.java.servelet.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculationServlet</display-name>
    <servlet-name>CalculationServlet</servlet-name>
    <servlet-class>com.java.servelet.CalculationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationServlet</servlet-name>
    <url-pattern>/CalculationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.java.servelet.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.java.servelet.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServlet</display-name>
    <servlet-name>EmployInsertServlet</servlet-name>
    <servlet-class>com.java.servelet.EmployInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServlet</servlet-name>
    <url-pattern>/EmployInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReasturantShow</display-name>
    <servlet-name>ReasturantShow</servlet-name>
    <servlet-class>com.java.servelet.ReasturantShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReasturantShow</servlet-name>
    <url-pattern>/ReasturantShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantSearchServlet</display-name>
    <servlet-name>RestaurantSearchServlet</servlet-name>
    <servlet-class>com.java.servelet.RestaurantSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantSearchServlet</servlet-name>
    <url-pattern>/RestaurantSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantsSearchServlet</display-name>
    <servlet-name>RestaurantsSearchServlet</servlet-name>
    <servlet-class>com.java.servelet.RestaurantsSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantsSearchServlet</servlet-name>
    <url-pattern>/RestaurantsSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantInsertServlet</display-name>
    <servlet-name>RestaurantInsertServlet</servlet-name>
    <servlet-class>com.java.servelet.RestaurantInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantInsertServlet</servlet-name>
    <url-pattern>/RestaurantInsertServlet</url-pattern>
  </servlet-mapping>
</web-app>